@page
@model Website.Pages.IndexModel
@{
    ViewData["Title"] = "HomeScreen";
}

<h1>Welcome to Bleakwind Buffet</h1>

<p>
    We at Bleakwind Buffet are proud to bring you authentic fantasy meals
    straight from the world of Skyrim. Shake the blood off your sword and sake
    your thirst with one of our old-fashioned sailor sodas. Hack into a Smokehouse
    Skeleton with your dagger. Or vanquish the the mighty Thalmor Triple Burger!
    You’ve had a hard adventure and earned your loot, so spend it with us!.
</p>

<h2>Entrees</h2>

<div class="menu-list">
    @foreach (var item in Model.)
    {

    }
</div>

<h2>Sides</h2>


<h2>Drinks</h2>

